{% extends 'base.html.twig' %}

{% block title "WeBreathe IoT Monitoring" %}

{# {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %} #}

{% block body %}
<div id="root"></div>
{% endblock %}

{# {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %} #}
