<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" sizes="192x192" href="https://static.wixstatic.com/media/9cc29e_cf67eda629324b24b2b0b787dda645ae%7Emv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/9cc29e_cf67eda629324b24b2b0b787dda645ae%7Emv2.png">
        <link rel="shortcut icon" href="https://static.wixstatic.com/media/9cc29e_cf67eda629324b24b2b0b787dda645ae%7Emv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/9cc29e_cf67eda629324b24b2b0b787dda645ae%7Emv2.png" type="image/png">
        <link rel="apple-touch-icon" href="https://static.wixstatic.com/media/9cc29e_cf67eda629324b24b2b0b787dda645ae%7Emv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/9cc29e_cf67eda629324b24b2b0b787dda645ae%7Emv2.png" type="image/png">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('index') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('index') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
